// custom variables
$primary: #6b111c;
$light: #f9ecf0;

$font-family-base: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$zindex-offcanvas: 1095;

// import the functions & variables
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";

// custom theme colours
$custom-theme-colors: (
  "altlight": #f9ecf0,
  "altdark": #6b111c,
);

$theme-colors: map-merge($custom-theme-colors, $theme-colors);

// import bootstrap
@import '../node_modules/bootstrap/scss/bootstrap';